# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.Po
*.o

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# builds
Makefile
Makefile.in
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
missing
src/.deps/.dirstamp
src/.dirstamp
test-driver
vcf
vcf_dbg
src/gzstream/.deps/
src/gzstream/.dirstamp
src/gzstream/unit_tests-gzstream.gcda
src/gzstream/unit_tests-gzstream.gcno
src/unit_tests-txtReader.gcda
src/unit_tests-txtReader.gcno
src/unit_tests-variantIndex.gcda
src/unit_tests-variantIndex.gcno
src/unit_tests-vcfReader.gcda
src/unit_tests-vcfReader.gcno
test-suite.log
tests/unittest/.deps/
tests/unittest/.dirstamp
tests/unittest/unit_tests-test_runner.gcda
tests/unittest/unit_tests-test_runner.gcno
tests/unittest/unit_tests-test_txtReader.gcda
tests/unittest/unit_tests-test_txtReader.gcno
tests/unittest/unit_tests-test_vcfReader.gcda
tests/unittest/unit_tests-test_vcfReader.gcno
unit_tests
unit_tests.log
unit_tests.trs
vcf_prof
vcf_prof.log
vcf_prof.trs
*gcno
